@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #676767;
  --secudary-color: rgb(215, 213, 213);
}



/* ============ cabecalho estilizacao =============== */

.pagination ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  gap: 11px;
}
.pagination ul li{
  color: var(--primary-color);
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb{
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 3px;
}
.pagination ul li.numb.first{
  margin: 0px 3px 0 -5px;
  
}
.pagination ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn{
  padding: 0 15px;
  border-radius: 3px;
  
  
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover{
  color: #fff;
  background: var(--secudary-color);
  /* border: solid 1px; */
}

/* ======================== estilo do body e os itens ======================= */

body{
  display: flex;
  background: #f9f9f9;
  min-height: 100vh;
  padding: 10px;
  flex-direction: column;
}


.item{
    
  display: flex;
  border: 1px solid var(--primary-color);
  flex-direction: column;
  margin-top: 1.3rem;
  padding: 1.3rem;
  gap: 3px;

    
}